@import "./../../../../theme/_breakpoints.scss";

.caption {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin: 0;
    font-size: 1rem;

    @include respond-to-desktop {
      font-size: 1.25rem;
    }
  }

  .subtitle {
    margin: 0;
    font-size: 0.75rem;

    @include respond-to-desktop {
      font-size: 1rem;
    }
  }

  .selector {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
    background:  #0066ff;
    color: white;
    font: 100px;
 }
}

